### MyDonations ###
storage/


### Backend
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

# IntelliJ IDEA
backend/.idea/
backend/*.iws
backend/*.iml
backend/*.ipr

# Eclipse
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

# VS Code
backend/.vscode/

# Mac OS
backend/.DS_Store
backend/bin/


### Frontend
frontend/build
frontend/coverage/

# Dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# Misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
